@{
    ViewData["Title"] = "Главная";
}

<div class="text-center bg-image min-vh-100 d-flex justify-content-center align-items-center flex-column ">
    <h1 class="display-4 text-white  fw-bold ">Просмотр и загрузка погоды Москвы</h1>
    <h2 class="text-white fw-normal" >«У природы нет плохой погоды, каждая погода — благодать»</h2>
    <div class="m-5 d-flex">
        <a class="nav-link text-white bg-gradient fs-2 " asp-area="" asp-controller="Home" asp-action="LoadReport">Загрузка погоды</a>
        <a class="nav-link text-white bg-gradient fs-2 ms-3" asp-area="" asp-controller="Home" asp-action="Privacy">Просмотр погоды</a>
       
    </div>
</div>




